# Data Preparation

## Getting the System Ready and Loading the Data

In [36]:
import pandas as pd
import numpy as np

# Load the raw dataset
data = pd.read_csv("../data/raw/student_performance_data.csv")

# Display the first few rows and dataset info to verify the change
print("First few rows after removing StudentID:")
print(data.head())

First few rows after removing StudentID:
   StudentID  Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  \
0       1001   17       1          0                  2        19.833723
1       1002   18       0          0                  1        15.408756
2       1003   15       0          2                  3         4.210570
3       1004   17       1          0                  3        10.028829
4       1005   17       1          0                  2         4.672495

   Absences  Tutoring  ParentalSupport  Extracurricular  Sports  Music  \
0         7         1                2                0       0      1
1         0         0                1                0       0      0
2        26         0                2                0       0      0
3        14         0                3                1       0      0
4        17         1                3                0       0      0

   Volunteering       GPA  GradeClass
0             0  2.929196         2.0
1             0  3.042915         1.0
2             0  0.112602         4.0
3             0  2.054218         3.0
4             0  1.288061         4.0

## Understanding the Data

In [37]:
print("\nDataset info:")
data.info()

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [38]:
print("\nDataset Description:")
data.describe().T

Dataset Description:

,count,mean,std,min,25%,50%,75%,max
StudentID,2392.0,2196.500000,690.655244,1001.000000,1598.750000,2196.500000,2794.250000,3392.000000
Age,2392.0,16.468645,1.123798,15.000000,15.000000,16.000000,17.000000,18.000000
Gender,2392.0,0.510870,0.499986,0.000000,0.000000,1.000000,1.000000,1.000000
Ethnicity,2392.0,0.877508,1.028476,0.000000,0.000000,0.000000,2.000000,3.000000
ParentalEducation,2392.0,1.746237,1.000411,0.000000,1.000000,2.000000,2.000000,4.000000
StudyTimeWeekly,2392.0,9.771992,5.652774,0.001057,5.043079,9.705363,14.408410,19.978094
Absences,2392.0,14.541388,8.467417,0.000000,7.000000,15.000000,22.000000,29.000000
Tutoring,2392.0,0.301421,0.458971,0.000000,0.000000,0.000000,1.000000,1.000000
ParentalSupport,2392.0,2.122074,1.122813,0.000000,1.000000,2.000000,3.000000,4.000000
Extracurricular,2392.0,0.383361,0.486307,0.000000,0.000000,0.000000,1.000000,1.000000
Sports,2392.0,0.303512,0.459870,0.000000,0.000000,0.000000,1.000000,1.000000
Music,2392.0,0.196906,0.397744,0.000000,0.000000,0.000000,0.000000,1.000000
Volunteering,2392.0,0.157191,0.364057,0.000000,0.000000,0.000000,0.000000,1.000000
GPA,2392.0,1.906186,0.915156,0.000000,1.174803,1.893393,2.622216,4.000000
GradeClass,2392.0,2.983696,1.233908,0.000000,2.000000,4.000000,4.000000,4.000000

Missing‐value summary

In [39]:
missing = data.isnull().sum()
pct_missing = (missing / len(data) * 100).round(2)
print("Missing Values per Column:")
print(pd.concat([missing, pct_missing.rename('pct')], axis=1))

Missing Values per Column:
                   0  pct
StudentID          0  0.0
Age                0  0.0
Gender             0  0.0
Ethnicity          0  0.0
ParentalEducation  0  0.0
StudyTimeWeekly    0  0.0
Absences           0  0.0
Tutoring           0  0.0
ParentalSupport    0  0.0
Extracurricular    0  0.0
Sports             0  0.0
Music              0  0.0
Volunteering       0  0.0
GPA                0  0.0
GradeClass         0  0.0

Duplicate rows check

In [40]:
n_dups = data.duplicated().sum()
print(f"\nDuplicate rows found: {n_dups}")

Duplicate rows found: 0

Unique‐value counts for categoricals

In [41]:
cat_cols = ['Gender','Ethnicity','ParentalEducation',
            'Tutoring','ParentalSupport','Extracurricular',
            'Sports','Music','Volunteering','GradeClass']
for col in cat_cols:
    print(f"{col}: {data[col].nunique()} unique → {data[col].value_counts().to_dict()}")

Gender: 2 unique → {1: 1222, 0: 1170}
Ethnicity: 4 unique → {0: 1207, 1: 493, 2: 470, 3: 222}
ParentalEducation: 5 unique → {2: 934, 1: 728, 3: 367, 0: 243, 4: 120}
Tutoring: 2 unique → {0: 1671, 1: 721}
ParentalSupport: 5 unique → {2: 740, 3: 697, 1: 489, 4: 254, 0: 212}
Extracurricular: 2 unique → {0: 1475, 1: 917}
Sports: 2 unique → {0: 1666, 1: 726}
Music: 2 unique → {0: 1921, 1: 471}
Volunteering: 2 unique → {0: 2016, 1: 376}
GradeClass: 5 unique → {4.0: 1211, 3.0: 414, 2.0: 391, 1.0: 269, 0.0: 107}

Outlier detection via IQR

In [42]:
numeric_cols = data.select_dtypes(include=[np.number]).columns
outlier_summary = []
for col in numeric_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower, upper = Q1 - 1.5 * IQR, Q3 + 1.5 * IQR
    mask = (data[col] < lower) | (data[col] > upper)
    outlier_count = mask.sum()
    outlier_summary.append((col, outlier_count, lower, upper))
outlier_df = pd.DataFrame(outlier_summary,
                          columns=['feature','n_outliers','lower_bound','upper_bound'])
print("\nOutlier Summary:")
print(outlier_df)

Outlier Summary:
              feature  n_outliers  lower_bound  upper_bound
0           StudentID           0  -194.500000  4587.500000
1                 Age           0    12.000000    20.000000
2              Gender           0    -1.500000     2.500000
3           Ethnicity           0    -3.000000     5.000000
4   ParentalEducation         120    -0.500000     3.500000
5     StudyTimeWeekly           0    -9.004916    28.456405
6            Absences           0   -15.500000    44.500000
7            Tutoring           0    -1.500000     2.500000
8     ParentalSupport           0    -2.000000     6.000000
9     Extracurricular           0    -1.500000     2.500000
10             Sports           0    -1.500000     2.500000
11              Music         471     0.000000     0.000000
12       Volunteering         376     0.000000     0.000000
13                GPA           0    -0.996316     4.793335
14         GradeClass           0    -1.000000     7.000000

Skewness & kurtosis for numeric features

In [43]:
skew_kurt = pd.DataFrame({
    'skewness': data[numeric_cols].skew(),
    'kurtosis': data[numeric_cols].kurtosis()
}).round(2)
print("\nSkewness & Kurtosis:")
print(skew_kurt)

Skewness & Kurtosis:
                   skewness  kurtosis
StudentID              0.00     -1.20
Age                    0.04     -1.37
Gender                -0.04     -2.00
Ethnicity              0.76     -0.77
ParentalEducation      0.22     -0.29
StudyTimeWeekly        0.05     -1.14
Absences              -0.03     -1.18
Tutoring               0.87     -1.25
ParentalSupport       -0.17     -0.72
Extracurricular        0.48     -1.77
Sports                 0.86     -1.27
Music                  1.53      0.33
Volunteering           1.88      1.55
GPA                    0.01     -0.86
GradeClass            -0.90     -0.42

## Missing Value and Outlier Treatment

Remove the StudentID column, as it is a non-predictive unique identifier

In [44]:
# Remove the StudentID column
data = data.drop(columns=['StudentID'])
print("Student ID dropped successfully")

Student ID dropped successfully

# Save Dataset

In [45]:
# Save the cleaned dataset for future use
data.to_csv("../data/processed/cleaned_data.csv", index=False)
print("Dataset Saved Successfully")

Dataset Saved Successfully